<a href="https://colab.research.google.com/github/vKhar/MA321/blob/Chapter10_11_Combine/2025/Notes/Chapter%2012%20For_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Learning Objectives

- Python Iterables/Iterators
- For loop
- Python List

## 12.1 Iterables/Iterators


An iterable is any Python object/data type that can be looped over with a **for loop** -  that is able to yield their contents one item at a time."

- string
- list
- range

--(Not covered)--
- tuple
- dictionary
- set

### 12.1.1 Iterating over a string object using indices

- Recall that a string is a sequence of characters, E.g.  `"I love Python!"`
- the characters are ordered from left to right and can be accessed uisng an index starting at 0, or slices

In [ ]:
## Example 12.1
s = "I love Python!"

# access a single character
pass


# access a sub-string using a slice
pass

# Using a while loop to access each character and prints each character in both lowercase and uppercase
# outputs iI  lLoOvVeE  pPyYtThHoOnN!!
pass

### 12.1.2 Using a for-loop
***Syntax***
```text
for an_iterating_variable in an_iterable :
    
    <statements in the body of the for-loop until the entire iterable is exhausted>
    
<statements after the loop>
```

In [ ]:
## Example 12.1.2
s = "I love Python!"
pass

#### Exercise 12.1

Write a function `count_vowels()` which
- takes in a string;
- returns the total number of vowels in the string (including both upper and lower cases).

Use a `for`-loop instead of other methods for this example.

*Test cases:*
- `count_vowels("Python")` should return `1`
- `count_vowels("I love Python!")` should return `4`
- `count_vowels("Computational Thinking is cool!")` should return `11`

In [ ]:
## Complete the code

In [ ]:
## Run the Test cases below to test your code
print(
count_vowels("Python"),
count_vowels("I love Python!"),
count_vowels("Computational Thinking is cool!")
)

---
## 12.2  List (`list`) as a Data Type
Lists are used to store multiple items(objects) which can be of different types in a single variable.

Lists are created using square brackets. Run the code cells below.

In [ ]:
fruitlist = ["apple", "banana", "cherry", "durian"]
primelist = [2, 3, 5, 7, 11, 13, 17, 19]
combine_list = ["apple", 5, 7.01, primelist ]

print(fruitlist)
print(len(fruitlist)) ## len() returns the number of items in list

### 12.2.1 List Items are Ordered
List items are **ordered (indexed)**, similar to the characters in a string.

The first item has index `[0]`, the second item has index `[1]` etc. Alternatively, the last item has index `[-1]`, the second last item has index `[-2]` etc.

In [ ]:
## Example 12.2.1

# access a single item
print(fruitlist[3])

# access a sub-list using a slice
print(fruitlist[1:-1])

# Using a while loop to access each item in the list  and prints each item in lowercase
index = 0
while index < len(fruitlist):
    pass
    index = index+1
print()

## Using a for-loop"
pass

### 12.2.2 Lists are Mutable
Unlike strings, list are **mutable**. In other words, we are able to
- modify
- add
- remove
items in the list

Run the code cells to observe the difference.

In [ ]:
### Example 12.2.2

## modifying an item
fruitlist = ["apple", "banana", "cherry", "durian"]
fruitlist[1] ="mango"
print(fruitlist)

## Swapping the first an last item
pass
print(fruitlist)

In [ ]:
## adding an item

fruitlist = ["apple", "banana", "cherry", "durian"]
## using append
# fruitlist.append("mango")

## using extend
# fruitlist.extend(["orange","pear"])

## using insert
fruitlist.insert(2,"xx")

print(fruitlist)

In [ ]:
## removng an item

fruitlist = ["apple", "banana", "cherry", "durian"]

## using pop(index)
# fruitlist.pop(0)

## using remove(item)
fruitlist.remove("cherry")
print(fruitlist)

### 12.2.3 List methods
Unlike string methods, most of the list methods will change the list when used. The list of built-in methods for lists are as follows. To display this list in Python, simply run `help(str)`.

**Method**| **Description**
:---------| :-|
`append()`  | Adds an element at the end of the list, returns `None`
`clear()`   | Removes all the elements from the list, returns `None`
`copy()`	  | Does not change the list, returns a copy of the list
`count()`   | Does not change the list, returns the number of elements with the specified value
`extend()`  | Add the elements of a list (or any iterable) to the end of the current list, returns `None`
`index()`	  | Does not change the list, returns the index of the first element with the specified value
`insert()`  | Adds an element at the specified position, returns `None`
`pop()`     | Removes the element at the specified position, returns the element removed
`remove()`  | Removes the first item with the specified value, returns `None`
`reverse()` | Reverses the order of the list, returns `None`
`sort()`    | Sorts the list, returns `None`

#### Exercise 12.2

Write a program which
- continuously prompts the user to input his/her top few choices of food ,
- stores the food choices entered in the input into a list
- print the list in **alphabetical order** containing all the entries after the user input an empty string.

*Sample Test:*
```text
Food choice: Beef noodle
Food choice: Steam boat
Food choice: Fried Rice
Food choice: BBQ
Food choice:
['BBQ','Beef noodle', 'Fried Rice', 'Steam boat']
```

In [ ]:
## Code here

## 12.3 Built-in Funtions that perform an aggregation on iterators
```
- len(), returns the number of items in iterables
- max(), returns the max value
- min(), returns the min
- sum(), the arithmatic sum
```

In [ ]:
##
L = [1,2.3,8]
len(L)
min(L)

#### Exercise 12.3.1

Write a function `longest_str()` which
- takes a non-empty list of strings,
- return the longest string (you may return any of the longest strings if the answer is not unique).

*Test Cases:*
```text
> longest_str(["a c", "de", "f"])
'a c'`

> longest_str(["long", "longer", "longest"])
'longest'`
```

In [ ]:
## Code here

#### Exercise 12.3.2

Write a function `int_list()` which
- takes in a list,
- return a list containing only the `int` data type items

*Test Cases:*
```text
> int_list([1, "2", 3.0])
[1]

> int_list([-1, 2022, 2])
[-1, 2022, 2]

> int_list(["", "b", "2022", 0.1])
[]
```

In [ ]:
## Code here

In [ ]:
## Test cases
print(
int_list([1, "2", 3.0]),
int_list([-1, 2022, 2]),
int_list(["", "b", "2022", 0.1]),
sep="\n"
)

[1]
[-1, 2022, 2]
[]

## 12.4 **`range()`**
 is an important function which creates a sequence of numbers.

***Syntax***
```python
range(start = 0, stop, step = 1)
```
**parameter**| **Description**
:---------| :-|
`start`     | optional, default starting value is 0
`stop`      | required, the ending value **not inclusive**
`step`      | optional, default step size is 1

In [ ]:
## ascending number sequence , 1,2,3,4,..10
pass

##descending number sequence, 10,9,8,..1
pass

In [ ]:
### print all the even numbers less than 100
pass

#### Exercise 12.4.1

Write a program to generate the list of positive integers below 100 that are multiples of 7. Print this list.

In [ ]:
## Code here

#### Exercise 12.4.2

Write a function `compare_list()` which
- takes in two lists `l1` and `l2` of integers,
- creates and returns a new list based on the following rules.
    - the first item will be 1, if the first item in `l1` is greater than the first item in `l2`;
    - the first item will be -1, if the first item in `l1` is less than the first item in `l2`;
    - the first item will be 0, if the first items in the two lists are equal.
    - repeats for the second item, third item, ... until the end of the shorter list between `l1` and `l2`.
    - ignore the remaining items in the longer list.

*Sample Tests:*
```text
> compare_list([1, 2, 3], [3, 2, 1, 0])
[-1, 0, 1]

> compare_list([1, 3, 5, 7, 9], [-1, -3])
[1, 1]

> compare_list([5, 5], [5])
[0]
```

In [ ]:
## Code here

In [ ]:
## Test Cases

print(
compare_list([1, 2, 3], [3, 2, 1, 0]),
compare_list([1, 3, 5, 7, 9], [-1, -3]),
compare_list([5, 5], [5])

)

## 12.5 Nested List
Items in a list can also be lists, making the list a nested list. For example,
```python
nested_list = [[1, 2], [3, 4, 5], [6]]
```
`nested_list` has 3 elements, each element is a list:

|row/col| 0| 1| 2|
|-|- | -| -|
|0| 1 | 2 | |
|1| 3 | 4 | 5 |
|2| 6 | | |

```
[
    [1, 2],     # nested_list[0],
    [3, 4, 5],  # nested_list[1]
    [6]         # nested_list[2]
]
```
To access the integer 4, we use `nested_list[1][1]`

In [ ]:
nested_list = [[1, 2], [3, 4, 5], [6]]
print(nested_list[1])
print(nested_list[1][1])

In [ ]:
'''
Exammple 12.5 : Print the values in the list row by row:
outputs:
1,2
3,4,5
6
'''

# Outer for loop for number of rows
    # Inner for loop for number of columns
        print( nested_list[i][j], end=",")
    print()

#### Exercise 12.5

Write a function `search()` which
- takes in the list `name_height_mass` and a string representing a name,
- returns the list containing the name, height and mass of the student if the name (case-sensitive) can be found; returns `False` otherwise.

*Test Cases:*
```text
> search(name_height_mass, "Bob")
['Bob', 1.71, 62.9]

> search(name_height_mass, "James")
False

> search(name_height_mass, "deon")
False
```

In [ ]:
name_height_mass = [
    ["Alex", 1.78, 76.2],
    ["Bob", 1.71, 62.9],
    ["Charmaine", 1.59, 41.1],
    ["Deon", 1.64, 49.8],
    ["Elizabeth", 1.55, 42.2],
    ["Felix", 1.88, 94.1],
    ["Grace", 1.58, 39.5],
    ["Harrison", 1.77, 72.1],
    ["Isabella", 1.6, 47.8],
    ["Joshua", 1.66, 51.2]
]

In [ ]:
# Code here

In [ ]:
## Test cases
print(
search(name_height_mass, "Bob"),
search(name_height_mass, "James"),
search(name_height_mass, "deon")
)